# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
*.bak

CMakeCache.txt
CMakeFiles
Makefile
*.cmake
install_manifest.txt

Dr Riley README.txt
